{% extends "index.html" %}
{% block title %}Witamy!{% endblock %}

{% block content %}


<div class="container">
	<div>
	<div class="header">
			<p>TERMINARZ</p>

	</div>
<!-- ----------------------------	FORMULARZ DODAWANIA REKORDÓW ------------------------------>
	<div class="form">
		<form method="POST" action="{{ url_for('dodaj') }}">
				{{ form.csrf_token }}
				{{ form.task_name.label }}	{{ form.task_name }} </br>
				{{ form.date.label }}	{{ form.date }} </br>
				{{ form.description.label }}	{{ form.description }} </br>

				</br><input type="submit" value="dodaj"/>
			</form>
	</div>
	<div class="zerowanie"></div>
	</div>
	<div class="content">
	
<!-- ---------------------------- TABELA REKORDÓW ------------------------------>
	<table id="tabela">
		<tr>
			<th width="230px">Lp</th><th>Nazwa zadania</th><th>Termin</th><th width="430 px">Opis</th><th  colspan="2">Akcja</th>
		</tr>
<!-- ----------------------------	POBRANIE REKORDÓW ------------------------	-->	

		{% for dane in records %}
			<tr>
				<td>{{ dane.id }}</td>
				<td class='data'>{{ dane.name }}</td>
				<td class='data'>{{ dane.date }}</td>
				<td>{{ dane.description }}</td>

			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="stopka">copyright &copy Mariusz Krzystoszek A.D. 2018</div>
</div>
{% endblock %}